@* SocialLinks.razor *@

<div class="social">
    <a href="https://github.com/sunmeat" target="_blank">GitHub</a>
    <a href="https://linkedin.com/in/sunmeat" target="_blank">LinkedIn</a>
    <a href="https://t.me/sunmeat" target="_blank">Telegram</a>
</div>

<style>
    .social {
        margin: 1.8rem 0 1rem;
    }

        .social a {
            margin: 0 1rem;
            color: #0066cc;
            text-decoration: none;
            font-weight: 500;
        }

            .social a:hover {
                text-decoration: underline;
            }
</style>